body {

    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }

  select {
    width: 8%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
  }

  input[type=decimal] {
    border: 2px solid red;
    border-radius: 4px;
  }

  textarea {
    width: 25%;
    height: 150px;
    padding: 12px 48px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  .account-list {
    width: 300px;
    border: 15px solid darkturquoise;
    padding: 50px;
    margin: 20px;
  }

  .transaction-list {
    width: 300px;
    border: 15px solid darkturquoise;
    padding: 50px;
    margin: 20px;
  }

  .new-account-form {

        width: 250px;
        border: 15px solid darkturquoise;
        padding: 25px;
        margin: 20px;
      
  }

